<div class="jumbo show-listing">
  <h2 class="title">Donate {{this.model.category.title}}</h2>
  <div class="content">
    <form>  
      <div class="form-group">
        <label for="name" class="control-label">Name: </label>
        <div>
          {{input value=this.model.donation.name class="form-control"}}
        </div>
      </div>
      <div class="form-group">
        <label for="email" class="control-label">Email: </label>
        <div>
          {{input value=this.model.donation.email class="form-control"}}
        </div>
      </div>
      <div class="form-group">
        <label for="phone" class="control-label">Phone: </label>
        <div>
          {{input value=this.model.donation.phone class="form-control"}}
        </div>
      </div>
      <div class="form-group">
        <label for="description" class="control-label">What you're giving: </label>
        <div>
          {{textarea value=this.model.donation.description class="form-control"}}
        </div>
      </div>
      <div class="dropdown">
        <select 
          class="btn btn-secondary dropdown-toggle"
          type="button"
          onchange={{action "setSelection" value="target.value"}}
        >
          <option disabled selected>Delivery Method</option>
          <option value="Pick-up only">Pick-up only</option>
          <option value="I can deliver to recipient">I can deliver to recipient</option>
          <option value="I can deliver to a dropoff site">I can deliver to a dropoff site</option>
        </select>
      </div>
      <div class="col-sm-6">
        <img
          src={{this.model.category.image}}
          class="rental-pic"
          alt="Picture of {{this.model.category.title}}"
        >
      </div>
      <div class="form-group">
        <button type="submit" class="button btn btn-primary">Upload an image</button>
      </div>
      <div class="form-group">
        <div>
          <button {{action "createDonation"}} class="button btn btn-primary">Submit</button>
        </div>
      </div>
    </form>  
  </div>
</div>
